version: "3.8"

services:

  postgres:
    image: postgres:16
    container_name: postgresql
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: beneficiodb
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d beneficiodb"]
      interval: 5s
      retries: 10
    networks:
      - wildfly-net 

networks:
  wildfly-net:
    driver: bridge